<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지하철 역세권 점포 추천</title>
</head>
<body>
    <div>
        <div class = "container">
            <h1 style="padding-left:150px"> 지하철 역세권 점포 추천 </h1>
            <blockquote style="padding-left:150px; font-size:64px; color:red; font-family: cursive; font-style:bold; float:left;">
                짧은 인생, 먹고 죽자
            </blockquote>
            <h5 style="padding-right: 200px; font-size:20px; float: right; border-top-left-radius: 5px; border-bottom-left-radius: 5px; background-color: aquamarine;">
                <b style="color: green;">클</b>
                <b style="color: blue;">릭</b>
                <b style="color: purple">해</b>
                <b style="color: teal;">서</b>
                <b style="color: tomato;"> 찾</b>
                <b style="color: palevioletred;">아</b>
                <b style="color: fuchsia;">가</b>
                <b style="color: royalblue;">기</b>
                ⇓⇓⇓⇓⇓
            </h5>
        </div>
        <div class="container">
            <img src="/static/recommendByStation/main.jpg" class="float-left" height="600px" style="padding-top:30px; padding-left:150px; padding-right:50px;">
            <img src="/static/recommendByStation/BusanSubwayMap_Line1.png" class="float-right" usemap="#image-map">
            <map name="image-map">
                <area target="" alt="Nopo" title="Nopo" href="/Nopo/" coords="59,18,110,97" shape="rect">
                <area target="" alt="Beomeosa" title="Beomeosa" href="/Beomeosa/" coords="111,18,160,97" shape="rect">
                <area target="" alt="Namsan" title="Namsan" href="/Namsan/" coords="161,18,202,97" shape="rect">
                <area target="" alt="Dusil" title="Dusil" href="/Dusil/" coords="203,18,249,97" shape="rect">
                <area target="" alt="Guseo" title="Guseo" href="/Guseo/" coords="250,18,299,97" shape="rect">
                <area target="" alt="Jangjeon" title="Jangjeon" href="/Jangjeon/" coords="300,18,349,97" shape="rect">
                <area target="" alt="PusanNatlUniv" title="PusanNatlUniv" href="/PusanNatlUniv/" coords="350,18,408,97" shape="rect">
                <area target="" alt="Oncheonjang" title="Oncheonjang" href="/Oncheonjang/" coords="409,18,456,97" shape="rect">
                <area target="" alt="Myeongnyun" title="Myeongnyun" href="/Myeongnyun/" coords="457,18,500,97" shape="rect">

                <area target="" alt="Dongnae" title="Dongnae" href="/Dongnae/" coords="445,145,500,228" shape="rect">
                <area target="" alt="BusanNatlUnivEdu" title="BusanNatlUnivEdu" href="/BusanNatlUnivEdu/" coords="395,145,444,228" shape="rect">
                <area target="" alt="Yeonsan" title="Yeonsan" href="/Yeonsan/" coords="346,145,394,228" shape="rect">
                <area target="" alt="CityHall" title="CityHall" href="/CityHall/" coords="295,145,345,228" shape="rect">
                <area target="" alt="Yangjeong" title="Yangjeong" href="/Yangjeong/" coords="245,145,294,228" shape="rect">
                <area target="" alt="Bujeon" title="Bujeon" href="/Bujeon/" coords="200,145,244,228" shape="rect">
                <area target="" alt="Seomyeon" title="Seomyeon" href="/Seomyeon/" coords="150,145,199,228" shape="rect">
                <area target="" alt="Beomnaegol" title="Beomnaegol" href="/Beomnaegol/" coords="100,145,149,228" shape="rect">
                <area target="" alt="Beomil" title="Beomil" href="/Beomil/" coords="50,145,99,228" shape="rect">
                
                <area target="" alt="Jwacheon" title="Jwacheon" href="/Jwacheon/" coords="50,280,99,355" shape="rect">
                <area target="" alt="Busanjin" title="Busanjin" href="/Busanjin/" coords="100,280,154,355" shape="rect">
                <area target="" alt="Choryang" title="Choryang" href="/Choryang/" coords="155,280,199,355" shape="rect">
                <area target="" alt="BusanStation" title="BusanStation" href="/BusanStation/" coords="200,280,249,355" shape="rect">
                <area target="" alt="Jungang" title="Jungang" href="/Jungang/" coords="250,280,294,355" shape="rect">
                <area target="" alt="Nampo" title="Nampo" href="/Nampo/" coords="295,280,344,355" shape="rect">
                <area target="" alt="Jagalchi" title="Jagalchi" href="/Jagalchi/" coords="345,280,399,355" shape="rect">
                <area target="" alt="Toseong" title="Toseong" href="/Toseong/" coords="400,280,439,355" shape="rect">
                <area target="" alt="Dongdaesin" title="Dongdaesin" href="/Dongdaesin/" coords="440,280,500,355" shape="rect">

                <area target="" alt="Seodaesin" title="Seodaesin" href="/Seodaesin/" coords="435,410,500,490" shape="rect">
                <area target="" alt="Daeti" title="Daeti" href="/Daeti/" coords="385,415,434,490" shape="rect">
                <area target="" alt="Goejeong" title="Goejeong" href="/Goejeong/" coords="335,415,384,490" shape="rect">
                <area target="" alt="Saha" title="Saha" href="/Saha/" coords="285,415,334,490" shape="rect">
                <area target="" alt="Dangni" title="Dangni" href="/Dangni/" coords="235,415,284,490" shape="rect">
                <area target="" alt="Hadan" title="Hadan" href="/Hadan/" coords="185,415,234,490" shape="rect">
                <area target="" alt="Sinpyeong" title="Sinpyeong" href="/Sinpyeong/" coords="135,415,184,490" shape="rect">
                <area target="" alt="Dongmae" title="Dongmae" href="/Dongmae/" coords="85,415,134,490" shape="rect">
                <area target="" alt="Jangnim" title="Jangnim" href="/Jangnim/" coords="40,415,84,490" shape="rect">

                <area target="" alt="Sinjangnim" title="Sinjangnim" href="/Sinjangnim/" coords="50,540,99,615" shape="rect">
                <area target="" alt="Natgae" title="Natgae" href="/Natgae/" coords="100,540,144,615" shape="rect">
                <area target="" alt="DadaepoHarbor" title="DadaepoHarbor" href="/DadaepoHarbor/" coords="145,530,199,615" shape="rect">
                <area target="" alt="DadaepoBeach" title="DadaepoBeach" href="/DadaepoBeach/" coords="200,510,295,615" shape="rect">
            </map>
        </div>
    </div>
</body>
</html>