<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>지하철 역세권 점포 추천</title>
</head>
<body>
    <div>
        <div class = "container">
            <h1 style="padding-left:150px"> 지하철 역세권 점포 추천 </h1>
                <blockquote style="padding-left:150px; font-size:64px; color:red; font-family: cursive; font-style:bold;">
                    짧은 인생, 먹고 죽자</blockquote>
        </div>
        <div class="container">
            <img src="/static/recommendByStation/index.jpg" class="float-left" height="600px" style="padding-top:30px; padding-left:150px; padding-right:50px;">
            <img src="/static/recommendByStation/BusanSubwayMap_Line1.jpg" class="float-right" usemap="#image-map">
            <map name="image-map">
                <area target="" alt="Beomnaegol" title="Beomnaegol" href="/Beomnaegol/" coords="89,221,141,147" shape="rect">
                <area target="" alt="Beomil" title="Beomil" href="/Beomil/" coords="34,222,77,147" shape="rect">
                <area target="" alt="Jwacheon" title="Jwacheon" href="/Jwacheon/" coords="39,352,80,280" shape="rect">
                <area target="" alt="Busanjin" title="Busanjin" href="/Busanjin/" coords="94,352,144,280" shape="rect">
                <area target="" alt="Choryang" title="Choryang" href="/Choryang/" coords="185,280,149,352" shape="rect">
                <area target="" alt="Busan Station" title="Busan Station" href="/BusanStation/" coords="199,352,250,280" shape="rect">
                <area target="" alt="Jungang" title="Jungang" href="/Jungang/" coords="253,352,289,280" shape="rect">
                <area target="" alt="Nampo" title="Nampo" href="/Nampo/" coords="303,352,342,280" shape="rect">
                <area target="" alt="Jagalchi" title="Jagalchi" href="/Jagalchi/" coords="356,352,409,280" shape="rect">
            </map>
        </div>
    </div>
</body>
</html>